{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
    <div>
        <img src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div>
            <h1>{{ program.title}}</h1>
            <h2>Catégorie : {{ program.category.name }}</h2>
            <h3>Saison #{{ season.number }}, date de sortie : {{ season.year }}</h3>
            <h4>
                {% for episode in episodes %}
                <a href="{{ path("program_episode_show",{program_id: program.id, season_id: season.id, episode_id: episode.id}) }}"> Episode #{{ episode.number }}</a>
                {{ episode.title }}
                {% endfor %}
            </h4>
            <p>{{ program.synopsis }}</p>
        </div>
    </div>
{% endblock %}