{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div>
        <img src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div>
            <h1>{{ program.title}}</h1>
            <h2>Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
        </div>
    </div>
{% endblock %}