{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div>
        <img src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div>
            <h1>{{ program.title}}</h1>
            <h2>Catégorie : {{ program.category.name }}</h2>
            <h3>
                {% for season in seasons %}
                <a href="{{ path("program_season_show",{program_id: program.id, season_id: season.id}) }}"> Saison #{{ season.number }}</a>
                {% endfor %}
            </h3>
            <p>{{ program.synopsis }}</p>
        </div>
    </div>
{% endblock %}